@import '../../../public/scss/abstracts/mixins', '../../app.css';
.section_form{
  padding: 5rem 0;
}

.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    align-content: center;
    position: relative;
  }
  
  .card-contact{
    width: 85%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    padding: .5rem .5rem;
    border-radius: 5% ;
    text-transform: uppercase;
    color: var(--color-secundario);
    box-shadow:  8px 8px 4px #1c1e22, 
      -2px -5px 4px #262a2e;
    justify-content: space-around;
    align-content: center;
    height: 450px;
    gap: 1.5rem;
  }
  .h2-contact{
    color: var(--color-secundario);
  }
  
  .p-contact{
    color: var(--color-secundario);
    width: 80%;
    text-transform: none;
  }
  
  .form-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 25px;
  }
  
  .form-formulario button{
    cursor: pointer;
    text-transform: uppercase;
          padding: .4rem 1rem;
          border-radius: 1.25rem;
          background-color: #1a1b1e;
          box-shadow:  3px 6px 4px #16171a, 
          -4px -7px 4px #1e1f23;
  }
  
  .form-formulario button:hover{
    
    box-shadow:  1px 2px 1px #3e4048, 
    -1px -2px 1px #090a0b;
    color: var(--color-cuaternario);
  }
  
  .form-formulario button:active{
    
    box-shadow: inset 3px 6px 4px #1e1f23, 
    inset -4px -7px 4px #16171a;
    color: var(--color-cuaternario);
  }
  
  .name,
  .email{
    padding: 15px 25px;
          margin-bottom: 1em;
          
          text-align: center;
          width:85%;
          background: transparent;
          border-radius: 5%;
          color: var(--color-secundario);
          box-shadow: inset 8px 8px 4px #1c1e22, 
          inset -2px -5px 4px #262a2e;
  }