@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    --color-primario: #FFFFFF;
    --color-secundario: #007BFF;
    --color-terciario: #202226;
    --color-cuaternario: #FFFAFF;
    --color-quinario: #00ADB5;

    /* Tipografía */
    --tipo-principal: 'Roboto', sans-serif;

}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primario: #FFFFFF;
        --color-secundario: #007BFF;
        --color-terciario: #202226;
        --color-cuaternario: #FFFAFF;
        --color-quinario: #00ADB5;
    }
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
    :root {
        --color-primario: #FFFFFF;
        --color-secundario: #007BFF;
        --color-terciario: #202226;
        --color-cuaternario: #FFFAFF;
        --color-quinario: #00ADB5;
    }
}

/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
    }
}